@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Playpen+Sans:wght@100..800&display=swap');

:root {
    --primary-color: rgb(98, 0, 255);
    --accent-color:rgb(55, 6, 134);
    --border: 5px solid var(--accent-color);
}

#body {
    background: linear-gradient(90deg, rgb(178, 165, 252) 1.8%, rgb(227, 181, 255) 100.5%);
    font-family: "Emilys Candy";
}

.accent-color {
    color: var(--accent-color);
}

.profile-container {
    max-width: 900px;
    margin-top: 35px;
}

.panel {
    background-color: rgba(213, 186, 255, 0.9);
    border: var(--border);
    color: var(--primary-color);
    padding: 15px;
    margin-bottom: 15px;
}

.panel h5, .panel h4 {
    color: var(--accent-color);
    border-bottom: var(--border);
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

#name img {
    height: 30px;
}

.contact-links ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

.contact-links li {
    margin-bottom: 5px;
    color: var(--accent-color);
}

.profile-pic {
    width: 150px;
    height: 150px;
    background-color: #333;
    display: block;
    border: 1px solid #fff;
}

.website-btn {
    padding: 10px;
    border-radius: 5px;
    background: var(--primary-color);
}

dl {
    margin-bottom: 0;
}

dt {
    color: var(--accent-color);
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-bottom: 10px;
    margin-left: 0;
}

.poke-grid {
    display: flex;
    justify-content: center;
}

.poke-item {
    text-align: center;
}
